 
    <h1 class="display-4 font-italic">PART 1:Simple use of an angular application with Api platform ✅</h1>
    <p class="lead my-3">API Platform is an Open Source web framework for API-first projects. Describe the API's data model or import an existing
    one from Schema.org and get instantly a fully featured read/write API with REST operations, data validation, pagination,
    sorting, filtering, Swagger documentation, an authorization system, invalidation-based HTTP cache, nested documents, content
    negotiation and support for modern hypermedia formats (JSON-LD, HAL and Hydra).</p>

    <br><br><br>
    <p class="display-4 font-italic">
1/ git clone https://github.com/abodje/API-PLATEFORM-ANGULAR.git<br>
2/ composer install for api/symfony <br>
3/ npm install for angular client<br>

4/ in api/symfony projet run: <br>
....php bin/console doctrine:database:create
.....php bin/console doctrine:schema:update --force

 if you have problem with us  contact me :<br>

    </p>
    <p class="lead mb-0"><a href="https://github.com/abodje" class="text-white font-weight-bold">Github...</a>
    <p class="lead mb-0"><a href="mailto:abodjekouamepaularnaud@gmail.com" class="text-white font-weight-bold">abodjekouamepaularnaud@gmail.com</a></p>
 